<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

  <ul>
    <li><a href="/website/stores">Stores</a></li>
    <li><a href="/website/stores/items">Items</a></li>
    <li></li>
  </ul>
</body>
</html>
