<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

  {{#iteminfo}}
  <ul>
    <li>{{cost}}</li>
    <li>{{quantity}}</li>
    <li>
      <a href="/website/stores/items/{{id}}">{{name}}</a>
    </li>
  </ul>
  {{/iteminfo}}
</body>
</html>
