<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<form action="/stores" method="POST">
		<input type="text" name="storename" placeholder="Name of Store">
		<input type="text" name="addressone" placeholder="Address 1">
		<input type="text" name="addresstwo" placeholder="Address 2">
		<input type="text" name="city" placeholder="City">
		<input type="text" name="state" placeholder="State">
		<input type="text" name="zip" placeholder="zip">
		<button>Create</button>
	</form>

</body>
</html>