<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<a href="/website/stores/addstore">Add Store</a>
	<br><br>
	{{#store}}
	<div>
		<li><a href="/website/stores/{{id}}">{{storename}}</a>
			<form action="/website/stores/{{id}}?_method=DELETE" method="POST">
				<button>Delete</button>
			</form>
		</li>
	</div>
	{{/store}}

</body>
</html>
